<section id="tabs" class="navbar-fixed-top">
      <div class="row">
        <div class="col-xs-4 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" routerLink="/dragdrop1" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="false">
                <span style="color:white" class="glyphicon glyphicon-list"></span>  DashBoard</a>
              <a class="nav-item nav-link active" routerLink="/filters" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="true">
                <span style="color:white" class="glyphicon glyphicon-book"></span>  Reports</a>
            </div>          
          </nav>        
        </div>
        <div class="col-xs-offset-7 col-xs-1" style="padding-top:15px;cursor: pointer;">
            <a class="dropdown-toggle" style="font-size: 20px;color: white" data-toggle="dropdown">
              <span style="color:white" class="glyphicon glyphicon-user"></span>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item"><span class="glyphicon glyphicon-user"></span> Profile</a>
              <a class="dropdown-item"><span class="glyphicon glyphicon-cog"></span> Preferences</a>
              <a class="dropdown-item" routerLink="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
            </div>
        </div>  
      </div>
</section>