<nav class="navbar navbar-expand-lg navbar-inverse">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let report of lstRepo">
        <a class="nav-link btn" (click)="onSelect(report)">{{report.DisplayName}}</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a routerLink="/" class="nav-link btn"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
        </li>
      </ul>
  </div>
</nav>
<app-filters [report]="selectedRepo"></app-filters>