<nav class="navbar navbar-expand-lg cust">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink='/dashboard' (click)="changecolor()" id="dashboard"
            class="nav-link btn btn-success" style="font-size: 20px;cursor: pointer;color: black"><span class="glyphicon glyphicon-home"></span> DashBoard</a>
        </li>
        <li class="nav-item">
          <a routerLink='/filters' id="filters" (click)="changecolor()"
          class="nav-link btn btn-success" style="font-size: 20px;cursor: pointer;color: black"><span class="glyphicon glyphicon-home"></span> Report</a>
        </li>
    </ul> 
    <ul class="navbar-nav navbar-right">
        <li class="nav-item logout">
          <a routerLink="/" class="nav-link btn" style="cursor:pointer"><span class="glyphicon glyphicon-log-in">LogOut</span></a>
       </li>
    </ul>
  </div>
</nav>