
table {
  width: 100%;
}

.hide
{
  display: none;
}

  .column {
    width:33.3%;
    display: block;
    margin-bottom: 0px;
    float: left;
    padding: 0 20px;
    text-align:left;
  }
 
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

mat-footer-row mat-footer-cell
{
  justify-content: center;
  font-style: italic;
}
.navbar-fixed-top
{
  margin-top: 110px;
  margin-left:290px;
}

.well
{
  margin-right: 10px;
}

.ex1 {
  width:100%-20px;
  height: 320px;
  overflow: scroll;
}
.scroller
{
  margin-right: 30px;
  width:100%-220px;
  height: 130px;
  overflow:scroll;
  overflow-x: hidden;
}
table td,th {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
 padding-left: 8px;
}

table td:first-child, th:first-child {
  border-left: none;
}

table td:last-child,th:last-child  {
  border-right: none;
 
}

