<body>
    <div class="container mainCOnt">
            <div class="row">
                <div class="col-md-6 Back">
    
                </div>
                <div class="col-md-6 alignCenter">
                    <div>
                      <h1 style="color: black">Login Form</h1>
                    </div>
                    <form (submit)="Checkuser($event)">
                      <div class="well">
                          <div class="form-group">
                              <label for="textbox1"><span>UserName</span></label>
                              <input type="text" id="textbox1" placeholder="Username*" class="form-control"/>
                          </div>
                          <div class="form-group">
                              <label for="textbox2"><span>Password</span></label>
                              <input type="text" id="textbox2" type="password" placeholder="Password*"class="form-control"/>
                          </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn-primary"/>
                            </div>
                      </div>
                    </form>
                </div>
            </div>
    </div>      
</body>
