<div *ngIf="data.chartType==='table'; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><h1 mat-dialog-title>Table</h1></ng-template>
<ng-template #elseBlock><h1 mat-dialog-title>{{data.chartType | titlecase}} Chart</h1></ng-template>
<div mat-dialog-content>
  <p>Display Name:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.displayName" value="data.displayName">
  </mat-form-field>
  <p>Stored Procedure Name:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.spName" value="data.spName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-success" (click)="onNoClick()">Cancel</button>&nbsp;&nbsp;
  <button mat-button class="btn btn-success" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>