<div style="margin-top: 70px">
  <div id="mySidenav" class="sidenav ex1">
    <div class="col-md-12">
      <div class="type">
        <div class="panel panel-success">
          <div class="panel-heading">Barchart</div>
          <div class="panel-body">
            <div class="panel panel-default" id="side3" dnd-draggable [dragEnabled]="true" dragData="bar">
              <div class="panel-body">
                <img src="assets/barchart.png" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="type">
        <div class="panel panel-success">
          <div class="panel-heading">Piechart</div>
          <div class="panel-body">
            <div class="panel panel-default" dnd-draggable [dragEnabled]="true" dragData="pie">
              <div class="panel-body">
                <img src="assets/piechart.png" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="type">
        <div class="panel panel-success">
          <div class="panel-heading">Linechart</div>
          <div class="panel-body">
            <div class="panel panel-default" dnd-draggable [dragEnabled]="true" dragData="line">
              <div class="panel-body">
                <img src="assets/linechart.png" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="type">
        <div class="panel panel-success">
          <div class="panel-heading">Table</div>
          <div class="panel-body">
            <div class="panel panel-default" dnd-draggable [dragEnabled]="true" dragData="table">
              <div class="panel-body">
                <img src="assets/table.png" width="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidenav1" id="mySidenav1">
    <div *ngIf="visible" style="padding-top: 250px">
      <a (click)="closeNav()" style="cursor: pointer"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
    <div *ngIf="!visible" style="padding-top: 250px">
      <a (click)="openNav()" style="cursor: pointer"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>
<div class="main" id="main">
  <div>
    <div *ngFor="let a of arr" class="row">
      <div *ngFor="let a1 of arr1" class="column">
        <div class="component">
          <div id="{{a+a1}}" dnd-droppable style="height:250px;background-color: white"
            (onDropSuccess)="dropped(a+a1,$event)">
            <div>
              <h1 *ngIf="simpleDrop[a+a1]" class="dispName" style="text-align: center;font-size: 19px">
                {{displayName[a+a1]}}</h1>
              <div *ngIf="simpleDrop[a+a1]">
                <div>
                  <div *ngIf="chartType[a+a1]==='bar'">
                    <div style="display: block">
                      <canvas baseChart [datasets]="barChartData[a+a1]" [labels]="barChartLabels[a+a1]"
                        [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                    </div>
                  </div>
                </div>
                <div>
                  <div *ngIf="chartType[a+a1]==='line'">
                    <div style="display: block">
                      <canvas baseChart [chartType]="'line'" [datasets]="lineChartData[a+a1]"
                        [labels]="lineChartLabels[a+a1]" [options]="chartOptions" [legend]="true"
                        (chartClick)="onChartClick($event)">
                      </canvas>
                    </div>
                  </div>
                </div>
                <div>
                  <div *ngIf="chartType[a+a1]==='pie'">
                    <div style="display: block">
                      <canvas style="font-size: 5px" [legend]="false" baseChart [data]="pieChartData[a+a1]"
                        [labels]="pieChartLabels[a+a1]" [chartType]="pieChartType"></canvas>
                    </div>
                  </div>
                </div>
                <div class="TableChart">
                  <div  *ngIf="chartType[a+a1]==='table'">
                    <div style="display: block">
                        <table border="1">
                          <thead width="100%">
                            <tr>
                              <th *ngFor="let key of keyss[SpName[a+a1]]">
                                {{key}}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of arrayOne(rows[SpName[a+a1]]); let i = index;">
                              <td *ngFor="let key of keyss[SpName[a+a1]]">
                                {{comms[SpName[a+a1]][i][key]}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>