<div *ngIf="report">
<div *ngFor="let param of config.Parameters">
    <div *ngIf="param.Type === 'string'">
        <input id={{param.Name}} type="text" placeholder="Enter text" (keyup.enter)="onSelect($event)">
    </div>
    <div *ngIf="param.Type === 'int'">
            <select id={{param.Name}} (change)="onSelect($event)">
              <option value="ALL" selected="selected">ALL</option>
              <option *ngFor="let data of dlldata" value={{data.value}}>
                {{data.value}}
              </option>
            </select>
    </div>
    <div *ngIf="param.Type === 'date'">
            <input id={{param.Name}} type="date" (change)="onSelect($event)">
    </div>
</div>

<!--
  <div *ngIf="textBox">
<input type="text" placeholder="Enter text">
</div>
<div *ngIf="dropDown">
<select id="x" (change)="onSelect($event)">
  <option value="ALL" selected="selected">ALL</option>
  <option *ngFor="let data of dlldata" value={{data.value}}>
    {{data.value}}
  </option>
</select>
</div>
<div *ngIf="datePicker">
<input type="date">
</div>-->
</div>
<app-report [report]="report" [config]="config" [parameters]="parameters" [selectedValue]="selectedValue"></app-report>